{% extends 'base.html' %}
{% block content %}
    <h1>Create Job</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.pcs_plaster.label(class="form-label") }}
            {{ form.pcs_plaster(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.company.label(class="form-label") }}
            {{ form.company(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.employees.label(class="form-label") }}
            {{ form.employees(class="form-control", size=5, multiple=True) }}
        </div>


        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}
