{% extends 'base.html' %}
{% block content %}
    <h1>Employees</h1>
    <a href="{{ url_for('employee.create_employee') }}" class="btn btn-primary mb-3">Create Employee</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Employee Number</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.employee_number }}</td>
                    <td>{{ employee.price_employee }}</td>
                    <td>
                        <a href="{{ url_for('employee.update_employee', id=employee.id) }}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{{ url_for('employee.employee_detail', employee_id=employee.id) }}" class="btn btn-sm btn-info">Detail</a>
                        <form action="{{ url_for('employee.delete_employee', id=employee.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
